<.header>
  Edit Value <%= @value.id %>
  <:subtitle>Use this form to manage value records in your database.</:subtitle>
</.header>

<.value_form changeset={@changeset} action={~p"/currencies/#{@currency_id}/values/#{@value}"} currency_id={@currency_id}/>

<.back navigate={~p"/currencies/#{@currency_id}/values"}>Back to values</.back>
